<hot-table #hotTable [data]="data"
           [rowHeaders]="true"
           [colHeaders]="true"
           [navigableHeaders]="true"
           [tabNavigation]="true"
           [multiColumnSorting]="true"
           headerClassName="htLeft"
           licenseKey="non-commercial-and-evaluation">
  <hot-column title="Name"
              data="name"
              width="100"
              [validator]="nameValidator.bind(this)"
              [allowInvalid]="true"></hot-column>
  <hot-column title="Compony" data="company" width=170 type="dropdown" [source]="['ABC', 'PQR', 'XYZ']"></hot-column>
  <hot-column title="Age"
              data="age"
              width="100"
              type="numeric"
              [readOnly]="true"
              [allowInvalid]="false"></hot-column>
  <hot-column title="DOB"
              data="dob"
              width="100"
              type="date"
              dateFormat="YYYY/MM/DD"
              [validator]="dobValidator.bind(this)"
              [allowInvalid]="true"></hot-column>
  <hot-column title="Notes" data="notes" [editor]="'popupEditor'"></hot-column>
</hot-table>
<br>
<br>
<div #messageDiv></div>
